 .user-container {
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    gap:1rem;
    transition: all 0.5s; 
}

body {
  
    /* background: linear-gradient(to right top, #333, #333 50%, #eee 75%, #333 75%); */

     background: linear-gradient(to right top, red, blue); 
 
}

 .user-avatar {
    border-radius: 50%;
    height:8rem;
    width:8rem;
    object-fit: cover;
}

 .user-name {
    font-size: 1.4rem;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Architects Daughter', cursive;
}

.user-container:hover {
    transform:scale(1.1);
    box-shadow: 15px 15px 38px -11px violet;
}

.user-container:hover .user-name {
    color:crimson;
} 
   

.user-form {
    /* padding:1rem; */
    margin:2rem;
}

.edit-user-form {
    display: none;
}

